@import url('./place/place.css');

.places{
    margin: 0 auto;
    margin-top: 92px;
    width: 68.33%;
    font-family: 'Inter', 'Arial', 'sans-serif';
}

@media screen and (max-width: 1439px) {
  .places {
    width: 76.88%;
  }
}
@media screen and (max-width: 1279px) {
  .places {
    margin-top: 102px;
    width: 90.63%;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    width: 93.75%;
  }
}
@media screen and (max-width: 767px) {
  .places {
    margin-top: 64px;
    width: 100%;
  }
}
