.comments__comment {
    margin: 0 auto;
    margin-left: 18px;
    width: 382px;
}

.comments__comment:nth-child(1) {
    margin-left: 0;
}

@media (max-width: 1279px) {
    .comments__comment {
        margin: 0 auto;
        margin-left: 18px;
        width: 296px;
    }
}

.comments__comment:nth-child(1) {
    margin-left: 0;
}

@media (max-width: 1023px) {
    .comments__comment{
        margin: 0 auto;
        width: 382px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .comments__comment:nth-child(1) {
        margin-left: auto;
    }

    .comments__comment:nth-child(2){
        margin-top: 47px;
    }

    .comments__comment:nth-child(3){
        margin-top: 47px;
    }
}

@media (max-width: 767px) {
    .comments__comment{
        margin: 0 auto;
        width: 343px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .comments__comment:nth-child(1) {
        margin-left: auto;
    }

    .comments__comment:nth-child(2){
        margin-top: 47px;
    }

    .comments__comment:nth-child(3){
        margin-top: 47px;
    }
}

@media (max-width: 450px) {
    .comments__comment{
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .comments__comment:nth-child(2){
        margin-top: 47px;
    }

    .comments__comment:nth-child(3){
        margin-top: 47px;
    }
}
