@import url('../__lang/__link/__link.css');

.header__lang{
    display: flex;
    justify-content: space-between;
    width: 78px;
    margin-top: 17px;
}

@media screen and (max-width: 767px) {
    .header__lang{
        width: 60px;
        margin-top: 10px;
    }
}
