.comments__container{
    margin: 0 auto;
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1279px) {
    .comments__container{
        margin-top: 66px;
        width: 100%;
    }
}

@media (max-width: 1023px) {
    .comments__container{
        margin-top: 40px;
        width: 100%;
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    .comments__container{
        margin-top: 40px;
        width: 100%;
        flex-direction: column;
    }
}


