@import url('./__logo/__logo.css');
@import url('./__lang/__lang.css');
@import url('./__link/__link.css');
@import url('./__active/__active.css');


.header{
  padding: 0;
  margin: 0 auto;
  width: 82.22%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Inter, sans-serif;
}

@media screen and (max-width: 1439px) {
  .header {
    width: 92.5%;
  }
}

@media screen and (max-width: 1279px) {
  .header {
    width: 90.63%;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    width: 93.75%;
  }
}

@media screen and (max-width: 767px) {
  .header {
    width: 91.47%;
  }
}

@media screen and (max-width: 374px) {
  .header {
    width: 90%;
  }
}
