.lead__image{
    margin: 0 auto;
    margin-top: 78px;
    width: 100%;
    border-radius: 5px;
}
  
.lead__image:hover{
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    .lead__image{
        margin-top: 32px;   
    }
}
