.comments__author{
    margin-top: 24px;
    margin-left: 0;
    max-width: 382px;
    font-size: 14px;
    line-height: 23px;
    font-weight: bold;
}

@media (max-width: 1279px) {
    .comments__author{
        margin-top: 16px;
        margin-bottom: 0;
        max-width: 382px;
        font-size: 14px;
        line-height: 23px;
    } 
}

@media (max-width: 1023px) {
    .comments__author{
        margin-top: 16px;
        margin-bottom: 0;
        max-width: 382px;
        font-size: 16px;
        line-height: 23px;
    } 
}

@media (max-width: 767px) {
    .comments__author{
        margin-top: 16px;
        margin-bottom: 0;
        max-width: 288px;
        font-size: 14px;
        line-height: 24px;
    } 
}