.video__container{
    margin: 0 auto;
    margin-top: 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 1023px) {
    .video__container {
        margin: 0 auto;
        margin-top: 56px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 767px) {
    .video__container {
        margin: 0 auto;
        margin-top: 24px;
        padding: 0;
        flex-direction: column;
    }
}

    
